body{
    text-align: center;
    font-family: sans-serif;
}

input {
    padding: 1%;
    border: 300%;
    border-radius: 100px;
    text-align: center;
    
}


body{
    background: rgb(204, 171, 127);
}

.div1{
    width: 350px;
    margin: auto;
    margin: 10 0 0 450px;
    overflow: hidden;
    padding: 75px;
    background: rgb(169, 224, 57);
    border-radius: 150px;
}
 